<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <title></title>
  </head>
  <body>
    <a class="btn btn-default login-btn" href="#loginform">Login</a>
    <section id="loginform" class="outer-wrapper">
      <div class="inner-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 col-sm-offset-4">
              <h2 class="text-center">Edit Item</h2>
              <form role="form" action="{{url_for('editItem', category_id = category_id, item_id = item_id)}}" method="POST">
                <div class="form-group">
                  <label>Name of Category</label>
                  <input type="text" class="form-control" name="name" placeholder="{{i.name}}">
                </div>
                <div class="form-group">
                  <label>Name of Category</label>
                  <input type="text" class="form-control" name="description" placeholder="{{i.description}}">
                </div>
                <div class="form-group">
                  <label>Name of Category</label>
                  <input type="text" class="form-control" name="price" placeholder="{{i.price}}">
                </div>
                <button type="submit" class="btn btn-default">Update</button>
                <button type="button" class="btn btn-default" onclick="window.location.href='{{url_for('showCategory', category_id = category_id)}}'">Back</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
