<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-1">
          </div>
          <div class="col-10 text-center">
            <a class="blog-header-logo text-dark" href="{{url_for('showCatalog')}}">Blue Sky Tech Boutique</a>
          </div>
              {% if 'username' not in login_session %}
              <div class="col-1 d-flex">
              <a class="btn btn-sm btn-outline-secondary float-right" href="{{url_for('showLogin')}}">Log In</a>
              </div>
              {% else %}
              <div class="col-1 d-flex">
              <img class="profile-image img-circle"src="{{login_session['picture']}}" style="height: 40px; width: 40px;" alt="profile image">
              <p>{{login_session['username']}}</p>
              <a class="btn btn-sm btn-outline-secondary float-right" href="{{url_for('gdisconnect')}}">Log Out</a>
            </div>
              {% endif %}
        </div>
      </header>
      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          {% for category in categories %}
            <a class="p-2 text-muted" href = '{{url_for('showCategory', category_id = category.id) }}'>{{category.name}}</a>
          {% endfor %}
        </nav>
      </div>
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic text-center">Big Sale Now!</h1>
        </div>
      </div>
      <div class="row mb-2">
        {% for i in rowOneItems %}
        <div class="col md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">{{getCatName(i.category_id)}}</strong>
              <h3 class="mb-0"><a class="text-dark"href="#">{{i.name}}</a></h3>
              <p class="card-text mb-auto">{{i.description}}</p>
              <p class="card-text mb-auto">{{i.price}}</p>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src="http://via.placeholder.com/200x250" style="width: 200px; height: 250px;">
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row mb-2">
        {% for i in rowTwoItems %}
        <div class="col md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">{{ getCatName(i.category_id) }}</strong>
              <h3 class="mb-0"><a class="text-dark"href="#">{{i.name}}</a></h3>
              <p class="card-text mb-auto">{{i.description}}</p>
              <p class="card-text mb-auto">{{i.price}}</p>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src="http://via.placeholder.com/200x250" style="width: 200px; height: 250px;">
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row mb-2">
        {% for i in rowThreeItems %}
        <div class="col md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">{{getCatName(i.category_id)}}</strong>
              <h3 class="mb-0"><a class="text-dark"href="#">{{i.name}}</a></h3>
              <p class="card-text mb-auto">{{i.description}}</p>
              <p class="card-text mb-auto">{{i.price}}</p>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src="http://via.placeholder.com/200x250" style="width: 200px; height: 250px;">
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
